@charset "UTF-8";

html {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	border: 1px solid #333;
	color: chartreuse;

}

table {
	display: flex;
	border: 1px solid #333;	
	justify-content: center;
	flex-direction: column;
	
}

footer {
	display: flex;
	border: 1px solid #333;
	justify-content: center;
	
}