@charset "UTF-8";

html {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	border: 1px solid #333;
	
  	
}

section {
	display: flex;
	border: 1px solid #333;
	flex-direction: column;	
	text-align: center;
	justify-content: space-around;
}

nav {
	display: flex;
	border: 1px solid #333;
	text-align: center;
	
}