@charset "UTF-8";

html {
	font-family: sans-serif;
}

h1 {
	display: flex;
	border: 1px solid #333;
   	justify-content: center;
    color: chartreuse;
    
}
      
#champs-saisie {
	display: flex;
	border: 1px solid #333;
   	justify-content: center;
}

#btn-annuler {
	display: flex;
	border: 1px solid #333;
   	justify-content: center;
}

#pseudo-description {
	font-style: oblique;
	font-size: 0.7em
}

#password-description {
	font-style: oblique;
	font-size: 0.7em
}