@charset "UTF-8";

html {
	 font-family: sans-serif;
}

h1 {
	text-align: center;
	border: 1px solid #333;
	color: chartreuse;
  	
}

#tag-connection {
	font-style: oblique;
	font-size: 0.8em
}

#connection-utilisateur {
	display: flex;
	border: 1px solid #333;
	justify-content: flex-end;
	
}

#statut-connection {
	display: flex;
	border: 1px solid #333;
	justify-content: flex-end;
}